<div class="container">
    <h2>About</h2>
     <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">
        ながのCAKEはは全国配送可能なケーキ屋さんです。<br>
        お子様からお年寄りまで召し上がっていただけるよう、<br>
        様々なバリエーションを行なっております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。<br>
        </h4>
    
</div>